.table-container{
    margin-top: 2%;
}
.setasAscDesc{
    display: inline-block;
    width: 20px;
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
}
.setasAscDesc > div{cursor: pointer;}

.form-cadastroLivro{
    margin-top:2%;
}